@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.seriesTitle</h1>
        <h2>Issue #@ViewBag.issueNumber</h2>
        <h5>Description:</h5>
        <div>@Html.Raw(ViewBag.description)</div>

        @if (ViewBag.artists.Length > 0) { 
        <h5>Artists:</h5>
        <div>
            <ul>
                @foreach (var artist in ViewBag.artists)
                {
                    <li>@artist </li>
                }
            </ul>
        </div>
        }
    </div>
</body>
</html>
